$bg-green: var(--green);
$bg-yellow: var(--yellow);
$light: var(--light);
$red: var(--red);

@mixin fullscreen {
  height: 100vh;
  width: 100vw;
}

@mixin cover-image($src) {
  background-image: url($src);
  background-size: cover;
}

@mixin absolute {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin fixed {
  position: fixed;
  top: 0;
  left: 0;
}

@mixin flex($dir) {
  display: flex;
  flex-direction: $dir;
}

@mixin flex-center {
  justify-content: center;
  align-items: center;
}

@mixin no-padding-margin {
  padding: 0;
  margin: 0;
}

@mixin light {
  font-weight: 300;
}

@mixin bold {
  font-weight: 600;
}
