$bg: #202124;
$sec: #bbb;
$hl: #047dffcb;

@mixin fullscreen {
  height: 100vh;
  width: 100vw;
}

@mixin absolute {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin fixed {
  position: fixed;
  top: 0;
  left: 0;
}

@mixin flex($dir) {
  display: flex;
  flex-direction: $dir;
}

@mixin flex-center {
  justify-content: center;
  align-items: center;
}

@mixin no-padding-margin {
  padding: 0;
  margin: 0;
}

@mixin cursive {
  font-family: "Caveat", cursive;
}
@mixin sans {
  font-family: "Open Sans Condensed", sans-serif;
}
